body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.container {
    max-width: 900px;
    width: 100%;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

#input-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#item-id {
    flex: 1;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#fetch-item-button {
    margin-left: 10px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#fetch-item-button:hover {
    background-color: #0056b3;
}

#item-types-section {
    text-align: center;
    margin-bottom: 20px;
}

#fetch-types-button {
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#fetch-types-button:hover {
    background-color: #218838;
}

#item-type-select {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#info {
    margin-bottom: 20px;
}

#item-list {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 15px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    position: relative;
    background: #fafafa;
    border-radius: 5px;
}

/* Добавляем стиль для элементов StatTrak™ */
.stat-trak-item {
    border: 3px solid rgb(207, 106, 50);  /* Увеличиваем обводку до 3px */
    background-color: #fafafa;  /* Стандартный фон */
    box-shadow: 0 0 5px rgba(207, 106, 50, 0.5);  /* Легкая тень для выделения */
    border-radius: 5px;  /* Скругление углов (по желанию) */
}

.stat-trak-item:hover {
    box-shadow: 0 0 10px rgba(207, 106, 50, 0.7);  /* Ярче тень при наведении */
}

.item-name {
    font-size: 18px;
    font-weight: bold;
}

.link {
    color: #007bff;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px;
    border-radius: 5px;
    top: 100%;
    left: 0;
}

.dropdown-content p, .dropdown-content a {
    margin: 0;
    padding: 5px 0;
}

.dropdown-content a {
    color: #007bff;
    text-decoration: none;
}

.dropdown-content a:hover {
    text-decoration: underline;
}

li:hover .dropdown-content {
    display: block;
}
